.container-fluid{
  background-color: #333;
  padding: 10%;
  overflow: hidden;
}
.form {
  background-color: #fff;

  border-radius: 1rem;

}
.icon{
  background-color: rgb(0, 100, 190);
  background-image: url("/assets/Angular_full_color_logo.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

  padding: 5rem 0;

}
form{
  margin-bottom: 2rem;
}
p{
  margin: 0
}
.inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


  margin-top: 1rem;
  padding: 0 2rem;
}
mat-form-field, button{
  width: 100%;
}
mat-checkbox{
  font-size: 8px;
}
