<div class="navbar">
  <h2>Tabbed Simple</h2>
  <div class="links">
    <a href="#">Home</a>
    <span> > </span>
    <a href="#">Page Layouts</a>
    <span> > </span>
    <a href="#" class="active">Simple Tabbed</a>
  </div>
</div>
<mat-tab-group>
  <mat-tab label="Main page"><app-filler-layout></app-filler-layout></mat-tab>
  <mat-tab label="Side page"><app-filler-layout></app-filler-layout></mat-tab>
  <mat-tab label="Extra page"><app-filler-layout></app-filler-layout></mat-tab>
</mat-tab-group>
