<div class="navbar">
  <h2>Card</h2>
  <div class="links">
    <a href="#">Home</a>
    <span> > </span>
    <a href="#">Page Layouts</a>
    <span> > </span>
    <a href="#" class="active">Card</a>
  </div>
</div>
<div class="align-center">
  <mat-card class="z-depth-2">
    <mat-tab-group>
      <mat-tab label="Main Tab"><app-filler-layout></app-filler-layout></mat-tab>
      <mat-tab label="Side Tab"><app-filler-layout></app-filler-layout></mat-tab>
      <mat-tab label="Extra Tab"><app-filler-layout></app-filler-layout></mat-tab>
      <mat-tab label="Additional Tab"><app-filler-layout></app-filler-layout></mat-tab>
      <mat-tab label="Another Tab"><app-filler-layout></app-filler-layout></mat-tab>
      <mat-tab label="One More Tab"><app-filler-layout></app-filler-layout></mat-tab>
      <mat-tab label="Definetly the last Tab"><app-filler-layout></app-filler-layout></mat-tab>
      <mat-tab label="Whooops another Tab"><app-filler-layout></app-filler-layout></mat-tab>
      <mat-tab label="And one last Tab"><app-filler-layout></app-filler-layout></mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

