<div class="container-fluid">
  <div class="upper-bg"></div>
  <div class="chat">
    <mat-card>
      <div class="head head-user">
        <img class="round-avatar" src="assets/UserAvatar.jpg" alt="">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>portrait</mat-icon>
            <span>profile</span>
          </button>
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>settings</span>
          </button>
          <button mat-menu-item>
            <mat-icon>help</mat-icon>
            <span>help</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>log out</span>
          </button>
        </mat-menu>
      </div>
      <div class="head head-chatdata">
        <div class="user-info">
          <img class="round-avatar" [src]="chosenContact.imagePath+chosenContact.index+'.jpg'" alt="">
          <div class="username-status">
            <div class="username">{{chosenContact.name}}</div>
            <div class="status">{{chosenContact.status}}</div>
          </div>
        </div>
        <div class="rightest-block">
          <button mat-icon-button>
            <mat-icon>attach_file</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="contactMenu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #contactMenu="matMenu">
            <button mat-menu-item>
              <mat-icon>portrait</mat-icon>
              <span>contact info</span>
            </button>
            <button mat-menu-item>
              <mat-icon>volume_mute</mat-icon>
              <span>mute chat</span>
            </button>
            <mat-divider></mat-divider>

            <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              <span>log out</span>
            </button>
          </mat-menu>
        </div>
      </div>

      <div class="chats">
        <div (click)="chooseContact(index)" class="user-info" *ngFor="let index of contacts">
          <img class="round-avatar" [src]="index.imagePath+index.index+'.jpg'" alt="">
          <div class="username-status">
            <div class="username">{{index.name}}</div>
            <div class="status">{{index.status}}</div>
          </div>
        </div>
      </div>

      <div class="chat-zone">
        <div class="messages" #chatZone>
          <div [class]="index.viewValue" *ngFor="let index of messages">
            <img class="round-avatar" [src]="index.avatarPath" alt="">
            <p class="message-content">{{index.text}}</p>
          </div>
        </div>

        <mat-form-field class="write" appearance="fill">
          <mat-label>Enter your message</mat-label>
          <input #MatInput matInput [type]="'text'">
          <button mat-icon-button matSuffix (click)="send()">
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-card>
  </div>
</div>
