<div class="container-fluid row">
  <div class="col-4"></div>
  <div class="form col-4">
    <div class="icon"></div>
    <div class="inputs">

      <form [formGroup]="options">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input type="" matInput required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div class="auxilliary">
          <mat-checkbox [formControl]="hideRequiredControl">Remember Me</mat-checkbox>
          <a href="">Forgot password?</a>
        </div>

        <button mat-flat-button color="primary">Login</button>
      </form>
      <p>don't have an account?</p>
      <a href="login">Click here to create one</a>
    </div>
  </div>
  <div class="col-4"></div>
</div>
