.sidebar {
  background: rgb(40, 49, 68);
  color: white;
  padding: 0;
  z-index: 1;
  box-shadow: 0px 0px 5px rgb(44, 54, 73);
  /* height: 750px;
  overflow-y: scroll; */
}

.content {
  background: rgb(230, 230, 230);
}

.logo {
  padding: 15px 25px;
  background: rgb(33, 41, 57);
  /* z-index: 1; */
  /* position: fixed; */
}

.logo_txt {
  fill: white;
  width: 60px;
}

.logo_img {
  fill: white;
  width: 26px;
  margin-right: 25px;
}

.user {
  background: rgb(33, 41, 57);
  text-align: center;
  padding: 25px 0;
}

.user p {
  color: rgb(192, 192, 192);
}

.user h3 {
  margin: 5px;
}

.user img {
  width: 72px;
  height: 72px;
  border-radius: 100px;
}

.user mat-icon {
  margin: 5px 10px 0 10px;
  font-size: 24px;
}

.user a {
  color: white;
}

.menu {
  background: rgb(40, 49, 68);
  padding: 15px 0;
}

.menu h5 {
  color: rgb(192, 192, 192);
  font-weight: 600;
  margin: 0 25px;
}

.menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 25px 5px 25px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

.menu a:hover {
  background: rgb(33, 41, 57);
}

.menu a span {
  vertical-align: super;
  font-size: 16px;
}

.menu a > mat-icon {
  font-size: 24px;
  margin-right: 20px;
}

.menu a > mat-icon:last-child {
  float: right;
  margin: 0;
}

.dropdown-menu {
  background: rgb(33, 41, 57);
}

.dropdown-menu mat-icon {
  color: rgb(144, 148, 156);
}

.dropdown-menu a:hover {
  color: white;
  background: rgb(35, 43, 60);
}

.toolbar {
  background: white;
  padding: 0 0 0 30px;
  box-shadow: 0px 0px 2px rgb(44, 54, 73);
}

.toolbar > div {
  padding: 10px 0;
}

.toolbar > .search {
  padding: 0;
  margin: 10px 0;
  background: rgb(245, 245, 245);
  border-radius: 5px;
  color: black;
  font-size: 18px;
}

.toolbar > div:nth-child(n + 3) {
  border-left: 1px solid rgb(230, 229, 229);
  text-align: center;
}

.toolbar > div:nth-child(n + 3):hover {
  background: rgb(245, 245, 245);
}

.toolbar > div:nth-child(n + 3) mat-icon {
  font-size: 24px;
  margin: 7.5px 0;
}

.toolbar > .search:hover,
.search > input:hover {
  background: rgb(224, 224, 224);
}

.search mat-icon {
  position: absolute;
  margin: 7.5px 20px;
}

.search > input {
  padding: 10px 20px 10px 60px;
  background: rgb(245, 245, 245);
  border: none;
  outline: none;
  border-radius: 5px;
}

.user_top img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid rgb(33, 41, 57);
  margin-right: 5px;
}
.user_top span {
  font-weight: 600;
  margin-right: 10px;
}
.user_top mat-icon {
  vertical-align: top;
}
