<div class="container">
  <h1 class="header">Cinematic Mountain View</h1>
  <h2 class="subheader">Example Page Layout</h2>

  <p>Lorem ipsum dolor sit amet, consectetur <a href="">adipisicing elit</a>. Aliquid at autem dolorem ea eius ex excepturi id illo in
    ipsam labore laborum minus numquam quaerat quasi qui quidem repellat repudiandae sed, suscipit tempore voluptatem
    voluptates voluptatum. A illo iusto sunt?</p>
  <p>Adipisci commodi cum debitis doloremque enim esse libero possimus quidem ratione similique? Aperiam aut
    consequuntur ea eaque, explicabo, id inventore iusto maxime minus modi pariatur placeat repellat reprehenderit.
    Commodi, fugiat, nam! Aliquam commodi consequuntur, doloremque magni nesciunt odit possimus quidem!</p>

  <h3 class="section-header">Lorem ipsum dolor sit amet, consectetur.</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque necessitatibus numquam soluta. Eligendi id impedit
    quaerat. Consectetur dicta non pariatur quas, recusandae repudiandae totam unde! Doloremque ea omnis quasi
    suscipit.</p>

  <img src="assets/mountain-cinematic.jpg" alt="">

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolores, error harum in ipsam nisi, optio porro
    possimus quasi quis reiciendis ut voluptate? Amet dolorum eligendi nesciunt nisi, omnis ut?</p>

  <div class="note">
    <p><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, repellendus.</i></p>
  </div>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi facere fugiat mollitia suscipit tempora ut, vel.
    Eaque et laborum quae, quasi soluta suscipit voluptatem. Animi aspernatur atque cumque enim esse.</p>

  <h3 class="section-header">Lorem ipsum dolor sit amet, consectetur.</h3>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at autem dolorem ea eius ex excepturi id illo in
    ipsam labore laborum minus numquam quaerat quasi qui quidem repellat repudiandae sed, suscipit tempore voluptatem
    voluptates voluptatum. A illo iusto sunt?</p>
  <p>Adipisci commodi cum debitis <a href="">doloremque enim esse</a> libero possimus quidem ratione similique? Aperiam aut
    consequuntur ea eaque, explicabo, id inventore iusto maxime minus modi pariatur placeat repellat reprehenderit.
    Commodi, fugiat, nam! Aliquam commodi consequuntur, doloremque magni nesciunt odit possimus quidem!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolores, error harum in ipsam nisi, optio porro
    possimus quasi quis reiciendis ut voluptate? Amet dolorum eligendi nesciunt nisi, omnis ut?</p>
  <p>Adipisci commodi cum debitis doloremque enim esse libero possimus quidem ratione similique? Aperiam aut
    consequuntur ea eaque, explicabo, <b>id inventore iusto maxime</b> minus modi pariatur placeat repellat reprehenderit.
    Commodi, fugiat, nam! Aliquam commodi consequuntur, doloremque magni nesciunt odit possimus quidem!</p>
</div>
