.container-fluid{
  background-color: #673ab7;
  padding: 16.3% 12%;
  overflow: hidden;
}
.row{
  margin: 0;
}
.col-4{
  padding: 0;
  padding: 0;
}
h2{
  font-size: 32px;
  font-weight: 500;
}
h3{
  font-size: 25px;
  font-weight: 400;
}
.form {

  background-color: #EEE;
  text-align: center;
  border-radius: 1rem;
  padding-bottom: 3rem;
}
.icon{
  background-color: #fff;
  background-image: url("/assets/Angular_full_color_logo.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

  padding: 5rem 0;
  border-radius: 1rem 1rem 0 0;
}
.undericon-text{
  text-align: center;
  background-color: #fff;
  padding-bottom: 1rem;
}
.social-medias{
  margin-top: .5rem;
}
.social-medias img{
  margin: 0 .5rem;
}
p{
  margin: 1rem 0;
  text-align: center;
  font-weight: 600;
}
.inputs{
  margin-top: 1rem;
  padding: 0 2rem;

}
mat-form-field, button {
  width: 100%;
}
