<div class="container-fluid row">
  <div class="col-4"></div>
  <div class="form col-4">
    <div class="icon"></div>
    <div class="undericon-text">
      <h2>COMING SOON</h2>
      <h3>  Our website is under construction.</h3>
      <div class="social-medias">
        <img src="assets/facebook.png" alt="">
        <img src="assets/instagram.png" alt="">
        <img src="assets/pinterest.png" alt="">
        <img src="assets/twitter.png" alt="">
        <img src="assets/github.png" alt="">
      </div>
    </div>
    <div class="inputs">
      <p>If you would like to get notified as soon as we launch, subscribe below and follow us on socials!</p>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input type="" matInput required>
        </mat-form-field>
      </form>
      <button mat-flat-button color="primary">Send recovery link</button>
    </div>
  </div>
  <div class="col-4"></div>
</div>
